* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: rgb(253, 242, 146);
    min-height: 100vh;
    border: 10px solid rgb(63, 63, 101);
}

.content {

    max-width: 900px;
    margin: 0 auto;
}

.top_section {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

}

.top_section h4 {
    text-align: end;
    font-size: 20px;
}

.top_section h1 {
    font-size: 50px;
    font-weight: bold;

}

.image_container {
    border-radius: 50%;
    overflow: hidden;
}

.about_section {
    margin: top 50px;
}

.about_section h1 {
    font-size: 70px;
    font-weight: 400;
    margin: 20px;
}

.about_section span {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1.2px;
    text-align: justify;
}

.achievements_section h3 {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 20px;
}

.achievements_section ul {
    margin-left: 50px;
    

}

.achievements_section li {
    margin-left: 50px;

}

.achievements_section li {
    margin-bottom: 15px;
   
}
.achievements_section li {
    font-size: 20px;
   
}

footer {
    margin-top: 50px;
}

footer p {
    font-size: 20px;
    text-align: end;
}